version: '3.8'

services:

  server:
    container_name: grpc_rabbitmq_server
    image: grpc_rabbitmq_server:1.0.0
    build: 
      image: gitpod/workspace-full
    command: go run main.go
    ports:
      - "8080:80"
    depends_on:
      - rabbit

  rabbit:
    image: rabbitmq
    command: rabbitmq-server
    expose:
      - 5672
      - 15672
    healthcheck:
      test: [ "CMD", "nc", "-z", "localhost", "5672" ]
      interval: 5s
      timeout: 15s
      retries: 1
